{% extends "encyclopedia/layout.html" %}

{% block title %}New Entry{% endblock %}

{% block body %}
<form  action="{% url 'encyclopedia:add'%}" method="POST">
    {% csrf_token %}
    <div class= "container">
        <div class="column">
            <div class="col">
    <label> Title: </label>
            </div>
            <div class="col">
    <input class = "title" type="text" name = "title">
            </div>
            <div class="col">
    Content: 
            </div>
            <div class="col">
                <textarea  name = "content" placeholder="Markdown content"> </textarea> 
            </div>
            <div class="col">
    <input class="btn btn-outline-primary btn-lg" type="submit" name = "submit">
            </div>
        </div>
    </div>
</form>
{% endblock %}